@charset "utf-8";

/* クラスを3つ定義します */
.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
    font-size: 40px;
    color: aqua;
    line-height: 300;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}
